@model SPaPS.Models.AccountModels.EditProfileInfoModel

@{
	ViewData["Title"] = "EditProfileInfo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Ажурирајте лични податоци</h2>
<br />

<form asp-action="EditProfileInfo" method="post">
    <@*input  class="form-control" asp-for="UserId" hidden />*@
    <input hidden asp-for="Email" />
    <div class="col-12">
         
        <div class="col-md-3 col-6">
            <div class="form-floating mb-3">
                <input asp-for="Name" type="text" class="form-control" placeholder="Name">
                <label asp-for="Name"></label>
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-3 col-6">
            <div class="form-floating mb-3">
                <input asp-for="Address" type="text" class="form-control" placeholder="Address">
                <label asp-for="Address"></label>
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-3 col-6">
            <div class="form-floating mb-3">
                <input asp-for="IdNo" type="text" class="form-control" placeholder="IdNo">
                <label asp-for="IdNo"></label>
                <span asp-validation-for="IdNo" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-3 col-6">
            <div class="form-floating mb-3">
                <input asp-for="PhoneNumber" type="tel" class="form-control" placeholder="PhoneNumber">
                <label asp-for="PhoneNumber"></label>
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-3 col-6">
            <div class="form-floating mb-3">
                <label asp-for="ClientTypeId"></label>
                <select asp-for="ClientTypeId" class="form-control">
                    <option value="1"> </option>
                </select>
                <span asp-validation-for="ClientTypeId" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-3 col-6">
            <div class="form-floating mb-3">
                <label asp-for="CityId"></label>
                <select asp-for="CityId" class="form-control">
                    <option value="1"> </option>
                </select>
                <span asp-validation-for="CityId" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-3 col-6">
            <div class="form-floating mb-3">
                <label asp-for="CountryId"></label>
                <select asp-for="CountryId" class="form-control">
                    <option value="1">Македонија</option>
                </select>
                <span asp-validation-for="CountryId" class="text-danger"></span>
            </div>
        </div>
    </div>

    <button type="submit" class="btn btn-primary">Ажурирај</button>
</form>
<p class="col-12 text-center text-danger">@Html.ValidationMessage("Error")</p>
<h4 class="col-12 text-center text-success">@Html.ValidationMessage("Success")</h4>
