@{
    Layout = "_EmailLayout";
    ViewBag.Title = "";
}

@section EmailHeader{
Subject: Ново барање
}

    <p>Почитувани,</p>

    <p>
        Поднесено е барање што ги исполнува условите кои Вие ги исполнувате. Ве молиме контактирајте не.
    </p>
    <p>

        За да го видите барањето, кликнете на следниот  <a href="@ViewBag.Callback">линк</a>.
       
    </p>
    <p>
        Со почит,
        SPaPS
    </p>