@model SPaPS.Models.Request

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Request</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" id="EditRequest">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="RequestId" />
            <div class="form-group">
                <label asp-for="RequestDate" class="control-label"></label>
                <input asp-for="RequestDate" class="form-control" disabled />
                <span asp-validation-for="RequestDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ServiceId" class="control-label"></label>
                <select asp-for="ServiceId" class="form-control" disabled asp-items="ViewBag.ServiceId"></select>
                <span asp-validation-for="ServiceId" class="text-danger"></span>
            </div>
            <div class="form-group d-none BuildingTypeId">
                <label asp-for="BuildingTypeId" class="control-label"></label>
                <input asp-for="BuildingTypeId" class="form-control" disabled />
                <span asp-validation-for="BuildingTypeId" class="text-danger"></span>
            </div>
            <div class="form-group d-none BuildingSize">
                <label asp-for="BuildingSize" class="control-label"></label>
                <input asp-for="BuildingSize" class="form-control" disabled />
                <span asp-validation-for="BuildingSize" class="text-danger"></span>
            </div>
            <div class="form-group d-none NoOfWindows">
                <label asp-for="NoOfWindows" class="control-label"></label>
                <input asp-for="NoOfWindows" min="1" class="form-control" disabled />
                <span asp-validation-for="NoOfWindows" class="text-danger"></span>
            </div>
            <div class="form-group d-none NoOfDoors">
                <label asp-for="NoOfDoors" class="control-label"></label>
                <input asp-for="NoOfDoors" min="1" class="form-control"disabled />
                <span asp-validation-for="NoOfDoors" class="text-danger"></span>
            </div>
            <div class="form-group d-none NoOfLights">
                <label asp-for="NoOfLights" class="control-label"></label>
                <input asp-for="NoOfLights" min="1" class="form-control" disabled />
                <span asp-validation-for="NoOfLights" class="text-danger"></span>
            </div>
            <div class="form-group d-none NoOfSockets">
                <label asp-for="NoOfSockets" class="control-label"></label>
                <input asp-for="NoOfSockets" min="1" class="form-control"disabled />
                <span asp-validation-for="NoOfSockets" class="text-danger"></span>
            </div>
            <div class="form-group d-none NoOfCarpets">
                <label asp-for="NoOfCarpets" class="control-label"></label>
                <input asp-for="NoOfCarpets" min="1" class="form-control" disabled />
                <span asp-validation-for="NoOfCarpets" class="text-danger"></span>
            </div>
            <div class="form-group d-none">
                <label asp-for="FromDate" class="control-label"></label>
                <input asp-for="FromDate" class="form-control" disabled/>
                <span asp-validation-for="FromDate" class="text-danger"></span>
            </div>
            <div class="form-group d-none">
                <label asp-for="ToDate" class="control-label"></label>
                <input asp-for="ToDate" class="form-control"disabled />
                <span asp-validation-for="ToDate" class="text-danger"></span>
            </div>
            <div class="form-group d-none">
                <label asp-for="Color" class="control-label"></label>
                <input asp-for="Color" class="form-control"disabled />
                <span asp-validation-for="Color" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Note" class="control-label"></label>
                <input asp-for="Note" class="form-control" disabled/>
                <span asp-validation-for="Note" class="text-danger"></span>
            </div>
            <div class="form-group d-none">
                <label asp-for="CreatedOn" class="control-label"></label>
                <input asp-for="CreatedOn" class="form-control" disabled/>
                <span asp-validation-for="CreatedOn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreatedBy" class="control-label"></label>
                <input asp-for="CreatedBy" class="form-control" disabled />
                <span asp-validation-for="CreatedBy" class="text-danger"></span>
            </div>
            <div class="form-group d-none">
                <label asp-for="UpdatedOn" class="control-label"></label>
                <input asp-for="UpdatedOn" class="form-control" disabled />
                <span asp-validation-for="UpdatedOn" class="text-danger"></span>
            </div>
            <div class="form-group d-none">
                <label asp-for="UpdatedBy" class="control-label"></label>
                <input asp-for="UpdatedBy" class="form-control"disabled />
                <span asp-validation-for="UpdatedBy" class="text-danger"></span>
            </div>
            <div class="form-group d-none">
                <label asp-for="IsActive" class="control-label"></label>
                <input asp-for="IsActive" class="form-control" disabled />
                <span asp-validation-for="IsActive" class="text-danger"></span>
            </div>
            <div class="form-group d-none">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
            <p>
                Дали се согласувате да го извршите побараниот сервис?
            </p>
            <div class="container">
                <button type="submit" value="Save"  class="btn btn-primary" style="background: green">Да</button>
                <button type="submit" value="Save"  class="btn btn-primary" style="background: red">Не</button>
            </div>
           
        </form>
    </div>
</div>
<br/>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
